{{define "error/500"}}
<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>500</title>
    <link rel="icon" href="data:;base64,=">
    <link rel="stylesheet" href="//res.wx.qq.com/open/libs/weui/1.0.2/weui.min.css"/>
</head>
<body ontouchstart>

<div class="weui-msg" id="invoice_show">
    <div class="weui-msg__icon-area">
        <div style="height: 100px;"></div>
        <img src="https://gw.alipayobjects.com/zos/rmsportal/RVRUAYdCGeYNBWoKiIwB.svg" style="max-width:95%;height: auto;">
    </div>
    <div class="weui-msg__text-area">
        <h2 class="weui-msg__title">500</h2>
        <p class="weui-msg__desc">抱歉，服务器出错了</p>
    </div>
</div>
</body>
</html>
{{end}}